<div id="map" style="width:800px;height:400px;background:white;"></div>

<script>
function myMap() {
	var wwitt = {lat: 42.281011,lng:  -122.570865};
	var mapOptions = {
    		center: new google.maps.LatLng(42.281011, -122.570865),
    		zoom: 9,
    		mapTypeId: google.maps.MapTypeId.HYBRID
	};
	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	var marker = new google.maps.Marker({
		position: wwitt,
		map: map, 
		title: 'Willow Witt Ranch'
	});
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcYT7F0h1cpJWo7TdJUlAx7z_Yo8O8tcE&callback=myMap"></script>

<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->
