<!-- Navbar (sticky top) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <div class="container-fluid mx-auto">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="nav-link active" aria-current="page">Hannah & Alex</p>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule/index.html">Schedule & Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wedding/index.html">Useful Information & Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accomodations/index.html" >Accomodations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>