{{ partial "head" . }}
<body>
{{ partial "navbar" . }}
<div class="w3-container w3-padding-64 w3-blue-grey" id="us">
  <div class="w3-content">                                                                                                  
	  {{ partial "header" . }}
    <img class="w3-round" src="/jandh.jpg" style="width:100%;margin:16px 0">
    <p>Some sample text. We are getting married lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p><br>
  </div>
</div>
</body>
</html>
